player/player.lst
data/hotreboot.dat
data/notes.dat
data/banned.lst
*.o
*.core
*.gcno
*.gcov
*.gcda
bin/envy
bin/test.envy
CUnitAutomated-*.xml
nohup.out
.vagrant/*
inspiration/
.env
*.todo
.imdone/
.DS_Store
shutdown.txt
